<div>
  <!--Particle System-->
  <particles [width]="width" [height]="height" [style]="myStyle" [params]="myParams"></particles>
  <!--ToolBar-->
  <div class="toolbar" fxLayout="row" fxLayoutAlign="center center">
    <span class="toolbar_title">Celebrate EveryDay</span>
  </div>
  <img src="../assets/sun.png"
       style="z-index: 9; position: absolute; width: 30%; max-width: 200px; right: 20%; bottom: 0">
  <img src="../assets/durga.png"
       style="z-index: 11; position: absolute; width: 50%; max-width: 200px; max-height: 350px; left: 20px; bottom: 0 ">
  <img src="../assets/ground.png"
       style=" z-index: 11; position:absolute; width:100%; max-height: 300px;  bottom: 0;">
  <router-outlet></router-outlet>
</div>
