<div style="width: 100%; margin-top: 80px" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center">
    <span class="name_text">{{name}}</span>
    <span class="name_text">Wishing You</span>
    <span class="name_text">ॐ Happy Navratri ॐ</span>
  </div>


  <div fxLayout="row" fxLayoutAlign="center center" class="quote_container">
    <p>There is no force more powerful than the women determined to rise.</p>
  </div>

  <div *ngIf="isCreated" class="shareContainer" fxLayout="column" fxLayoutGap="16px">
    <div class="share_facebook" (click)="facebookShare()"></div>
    <div class="share_whats_app" (click)="whatsAppShare()"></div>
    <div *ngIf="otherAvailable" class="share_other" (click)="otherShare()"></div>
  </div>

  <div *ngIf="!isCreated" class="shareContainer" style="padding: 0;">
    <div class="card_view" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <span class="small_heading">Create Your</span>
      <input class="edit_text" type="text" [(ngModel)]="newName" placeholder="Your Name">
      <button mat-raised-button class="button_primary" (click)="createYour()">Share</button>
    </div>
  </div>
</div>
